body {
  background-color: #141414;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 400px;
  margin-top: 50px;
}

.social-profile-app {
  background: #1f1f1f;
  border: none;
  border-radius: 20px;
}

li a {
  text-decoration: none;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 10px 20px;
  margin-bottom: 10px;
}

h1 {
  color: #ffffff;
  text-align: center;
}

h2 {
  color: #c7eb40;
  text-align: center;
}

p {
  color: #ffffff;
  text-align: center;
}

.avatar-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.footer {
  color: blue;
  margin-top: 20px;
  line-height: 1.5;
  font-size: 13px;
  text-align: center;
  position: relative;
  left: 10px;
}

.footer a {
  text-decoration: none;
  color: blue;
}

.app-wrapper footer {
  text-align: center;
}

@media (max-width: 576px) {
  h1 {
    font-size: 23px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .social-profile-app {
    width: 280px;
    margin-left: 5px;
  }

  .footer {
    margin: 10px 50px;
    width: 200px;
  }

  .avatar-img {
    width: 120px;
  }
}
